@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");

* html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
cursor: url('./images/Vector.png'), auto;
background-color: #000000;
background-image: linear-gradient(147deg, #000000 0%, #04619f 154%);
}


.blue-glassmorphism {
  background: rgb(39, 51, 89, 0.4);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(0, 0, 0, 0.3);
}

/* white glassmorphism */
.white-glassmorphism {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 16px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.eth-card {
  background-color:#a099ff23; 
  background-image: 
    radial-gradient(at 88% 35%, hsla(222,81%,65%,1) 0, transparent 50%), 
    radial-gradient(at 27% 71%, hsla(336,91%,65%,1) 0, transparent 49%), 
    radial-gradient(at 53% 75%, hsla(174,94%,68%,1) 0, transparent 45%);
    cursor: url('./images/point.png'), auto;
    width: 50%;
}

.text-gradient {
  background-color: #fff;
  background-image: radial-gradient(at 4% 36%, hsla(0,0%,100%,1) 0, transparent 53%), radial-gradient(at 100% 60%, #04619f 0, transparent 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-list{
  text-transform: uppercase;
  color:hsla(174,94%,68%,1) ;
  letter-spacing: 3px;
  font-weight: bold;
  
}

.loader{
  border-color: hsla(174,94%,68%,1);
}

.stats{
  position: relative;
  z-index: 900;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 100px;
  padding-bottom: 100px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.stats-wrapper{
  width: 90%;
}

.stats-main-container{

    display: flex;
    margin-right: -16px;
    margin-left: -16px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.stats-block-container{
  width: 33.333333333333336%;
    padding: 16px;
}

.stats-block{
position: relative;
}

.stats-container{
  position: relative;
 z-index: 940;
 padding: 30px;
}
.stats-text{
  
  color: #766ef5;
}

.gradient-glow{
position: absolute;
top: 0;
z-index: 930;
width:90%;
height: 2px;
background-image: -webkit-gradient(linear, left top, right top, from(rgba(118, 110, 245, 0)), color-stop(35%, #766ef5), color-stop(65%, #2da9f5), to(rgba(45, 169, 245, 0)));
background-image: linear-gradient(
90deg, rgba(118, 110, 245, 0), #766ef5 35%, #2da9f5 65%, rgba(45, 169, 245, 0));
opacity: 0.95;
}

.gradient-mask{
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 920;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(7, 7, 28, 0)), to(#07071c));
  background-image: linear-gradient(
180deg, rgba(7, 7, 28, 0), #04619f21);
}

.gradient-outline{
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 910;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: inset 0 0 0 1px #2c2c3d;
}

@media screen and (max-width:768px) {
  .eth-card{
    width: 80%;
  }

  .stats-main-container{
    flex-wrap: wrap;
  }

  .stats-block-container{
    width: 50%;
  }
}

@media screen and (max-width:400px) {
  .hero-list{
    font-size: 10px;
  }
  .stats-block-container{
    width: 100%;
  }
}



.accordion__button{
  background: rgb(39, 51, 89, 0.4);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(0, 0, 0, 0.3);
  background-color: rgb(39, 51, 89, 0.4);
}
.navlink:hover {
  color: hsla(174,94%,68%,1);
}
@tailwind base;
@tailwind components;
@tailwind utilities;